doctype html
html(lang="en")
    include includes/head
    link(href="/css/product.css" rel="stylesheet")
    body
        include includes/header
        main.container(role="main")
            .row
                .col.col-md-6.col-sm-12
                    img.img-fluid(src=largeImage alt=name title=name id='detail')
                    each image in imageEntities
                        if image.entityType === 'SECONDARY'
                            img.img-fluid.thumbnail(src=image.thumbnailImage)
                .col.col-md-6.col-sm-12
                    .categoryPath.text-muted #{categoryPath.replace(/\//g, ' / ')}
                    hr
                    .brandName=brandName
                    h1.name=name
                    if customerRatingImage
                        <div class="numReviews">
                            <img src="#{customerRatingImage}" title="#{customerRating}"><span>#{numReviews}</span>
                        </div>
                    .shortDescription!=shortDescription
                    if msrp
                        .msrp.h4.my-2=msrp.toFixed(2)
                    .salePrice.h2.my-2=salePrice.toFixed(2)
                    hr
                    a.btn.btn-primary(href=addToCartUrl) Add to Cart
                    hr
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">age</th>
                                <td>#{age}</td>
                            </tr>
                            <tr>
                                <th scope="row">brand</th>
                                <td>#{brandName}</td>
                            </tr>
                            <tr>
                                <th scope="row">color</th>
                                <td>#{color}</td>
                            </tr>
                            <tr>
                                <th scope="row">gender</th>
                                <td>#{gender}</td>
                            </tr>
                            <tr>
                                <th scope="row">model</th>
                                <td>#{modelNumber}</td>
                            </tr>
                            <tr>
                                <th scope="row">stock</th>
                                <td>#{stock}</td>
                            </tr>
                            <tr>
                                <th scope="row">upc</th>
                                <td>#{upc}</td>
                            </tr>
                        </tbody>
                    </table>
            h3.compare-similar-items Compare Similar Items
            .row
                .col-md-12.nbp
            h3.customer-reviews Customer Reviews
            .row
                .col-md-6.reviews
            //- .row
            //-     .col.col-md-12
            //-         .longDescription
            //-         script.
            //-             let elem = document.createElement('textarea')
            //-             elem.innerHTML = '!{longDescription}'
            //-             document.querySelector('.longDescription').innerHTML = elem.value
        include includes/footer
        script let itemId = #{itemId}
        script(src="/js/nbp.js")
        script(src="/js/reviews.js")